
<form>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" name="quizChoice" value="plusO">
      I have a vivid imagination.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="minusO">
      I have difficulty understanding abstract ideas.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="minusE">
    I have no intention of talking in large crowds.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusC">
      I am always prepared.
    </label>
  </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="quizChoice" value="plusO">
        I am quick to understand things.
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="quizChoice" value="plusA">
        I sympathize with others' feelings.
      </label>
    </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusC">
      I like to follow a schedule.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="minusA">
      I am not interested in other people's problems.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusE">
      I talk to a lot of different people at parties.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="minusC">
      I leave my belongings around.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="minusC">
      I make a mess of things.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusE">
      I am comfortable around people.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusA">
      I take time out for others.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusO">
      I am full of ideas.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusN">
      I get stressed out easily.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="minusN">
      I am relaxed most of the time.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusO">
      I have a rich vocabulary.
    </label>
  </div>



  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusC">
      I like order.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusE">
      I start conversations.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="minusE">
      I think a lot before I speak or act.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusN">
      I have frequent mood swings.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusA">
      I make people feel at ease.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusN">
      I get irritated easily.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="plusA">
      I have a soft heart.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="quizChoice" value="minusN">
      I seldom feel blue.
    </label>
  </div>
   <button {{action 'saveQuiz'}}> Click to find out what type of fairy you can see!</button>
</form>
