<!-- <div id="maps">
  <h1>Maps</h1>
  {{#each model as |site|}}
  {{site.name}}
  {{google-map site=site}}
  {{/each}}

</div> -->
<div id="maps">
  <h1>Maps</h1>

  {{google-map model=model}}


</div>
